* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.maintxt {
    position: relative;
}

.btn-primary-outline {
    background-color: transparent;
    border-color: #ccc;
    color: #fff
}

.imageContainer {
    text-align: center
}

.speakerimage {
    width: 80%;
    height: auto;

}

.logoImg {
    width: 20%;
}

.imageDescription {
    text-align: start;
    width: 75%;
    margin-left: 3rem;
}

.overlay-text {
    position: absolute;
    bottom: 8px;
    right: 50px;
    bottom: 120px;
    width: 53%;
    text-align: end;
}

.mainImage {
    width: 100%;
    height: 25rem;
    filter: brightness(50%);
}


.leftContainer {
    background-color: gray;
}

.bsAsContainer {
    display: flex;
}

footer {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    margin-top: 3rem;
}

.footerList {
    display: flex;
    justify-content: center;
}


@media (max-width: 575px) {
    .bsAsContainer {
        flex-direction: column;
    }

    .imageDescription {
        margin-left: 3rem;
    }

    .overlay-text {
        right: 40px;
        bottom: 100px;
        width: 70%;
    }

    .mainImage {
        height: 25rem;
    }

    .rightImage {
        width: 100%;
    }

    .leftContainer {
        width: 100%;
    }
    .footerList {
        flex-direction: column;
        align-items: center;
    }
    .footerList li {
       margin-bottom: 1rem;
    }
}

@media (min-width: 576px) and (max-width:767px) {
    .bsAsContainer {
        flex-direction: column;
    }

    .textContainer {
        width: 100%;
    }

    .imageDescription {
        margin-left: 3.5rem;
    }

    .overlay-text {
        right: 50px;
        bottom: 120px;
        width: 53%;
    }

    .mainImage {
        height: 30rem;
    }
    .footerList {
        flex-direction: column;
        align-items: center;
    }
    .footerList li {
       margin-bottom: 1rem;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .textContainer {
        width: 50%;
    }

    .imageDescription {
        margin-left: 2rem;
    }

    .overlay-text {
        right: 70px;
        bottom: 120px;
        width: 40%;
    }

    .mainImage {
        height: 35rem;
    }

    .footerList {
        flex-direction: column;
        align-items: center;
    }
    .footerList li {
       margin-bottom: 1rem;
    }
}

@media (min-width: 992px) {
    .textContainer {
        width: 33%;
    }

    .imageDescription {
        margin-left: 3rem;
    }

    .overlay-text {
        right: 100px;
        bottom: 150px;
        width: 30%;
    }

    .mainImage {
        height: 43rem;
    }


}